h1 {
	color: white;
	text-align: center;
	background: url("1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 250px 0;
}